* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    background-color: black;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    color: gold;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    color: white;
    border: 5px solid yellow;
    height: 80vh;
}