@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

a {
    text-decoration: none;
    font-size: 150%;
    color: gold;
    z-index: 301;
}

header {
    position: relative;
    z-index: 30;
    top: 50px;
    right: 5px;
}

nav {
    display: flex;
    padding: 10px;
    align-items: center;
    background: transparent;
    z-index: 300;
}

.nav__menu-bar {
    display: flex;
    margin-right: 20px;
    height: 20px;
    flex-direction: column;
    row-gap: 6px;
    cursor: pointer;
}

.nav__menu-bar div {
    width: 30px;
    height: 5px;
    background-color: gold;
    border-radius: 2px;
}

.nav__menu-list {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 40px;
    width: 150px;
    row-gap: 24px;
    left: -150px;
    padding: 24px 16px;
    transition: all 0.2s;
    font-size: 75%;
    font-weight: bold;
    min-height: 400px;
    background: black;
    border: 2px solid gold;
    border-radius: 7px;
    z-index: 300;
    margin-top: 50px;

}

.nav__menu-list.active {
    left: 0;
}

.nav__link {
    font-size: 18px;
    position: relative;
    transition: all 0.2s;
}

.nav__link:hover {
    font-weight: bold;
}

.center {
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}